{{#link-to "customers.list.details"}}
  <div>
    click here to Engine route with model hook
  </div>
{{/link-to}}

{{#link-to "contacts.list.details"}}
  <div>
    click here to Engine route with prefetch hook
  </div>
{{/link-to}}

{{#link-to "sample.child"}}
  <div>
    click here to App routes
  </div>  
{{/link-to}}

{{outlet}}
